
body {
  position: relative;
  background: rgb(170, 75, 107);
  background: linear-gradient(
    90deg,
    rgba(170, 75, 107, 1) 0%,
    rgba(107, 107, 131, 1) 35%,
    rgba(59, 141, 153, 1) 100%
  );
  height: 100vh;
}
.container {
  position: absolute;
  left: 37.5%;
  top: 30%;
  opacity: 75%;
  text-align: center;
  background-color: rgb(0, 0, 0);
  border-radius: 10px;
  width: calc(0.25 * 100%);
  height: calc(0.4 * 100%);
  margin: auto;
  padding: 21px;
  filter: blur(px);
}
p {
  color: rgb(75, 75, 75);
  font-size: 12px;
}
h1 {
  color: aliceblue;
  text-align: center;
  margin: 10px;
}
input {
  background: transparent;
  border: 0;
  border: 1px rgb(13, 83, 104) solid;
  border-radius: 10px;
  padding: 8px;
  margin: 10px;
  text-align: center;
  color: aliceblue;
}
input:focus {
  outline: 0;
}
.Forgor {
  text-align: center;
  text-decoration: none;
  color: rgb(75, 75, 75);
  margin: 15px;
  font-size: 12px;
}
.Forgor:hover {
  text-decoration: underline;
}
input[type="submit"] {
  color: aliceblue;
  border-radius: 15px;
  padding: 10px 30px;
  margin: 21px;
  border: 1px rgb(102, 214, 102) solid;
  cursor: pointer;
}
a i {
  text-align: center;
  padding: 0px 10px;
  margin: 15px;
  color: aliceblue;
}
.fonText {
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 5px;
}
