@model SigninSignupDapper.Models.LoginVM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<head >
    <link rel="stylesheet" href="~/css/Styles.css" asp-append-version="true" />
</head>

<div class="container">
    @using (Html.BeginForm("Index", "Test", FormMethod.Post))
    {
    <h1 class="fonText">LOGIN</h1>
        <p class="fonText" >Please enter you Email and Password!</p>
        <br>
        @Html.TextBoxFor(m=>m.Email,new{@type="email", placeholder="Email Address", name="Email"})
        @* <input type="email" placeholder="Email Address" name="Email" /> *@
        <br>
        @Html.PasswordFor(m=>m.Password, new{@type="password", placeholder="Password", name="Password"})
        @* <input type="password" placeholder="Password" name="Password" /> *@
        <br><br>
        <a href="#" class="Forgor fonText" ">Forgor Passwor?</a>
        <br>
        <input type="submit" value="Login">
        <br>
        <a href="https://wwww.facebook.com"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
        <a href=""> <i class="fa fa-google-plus" aria-hidden="true"></i></a>
        
    }
    
</div>